<footer class="container-fluid bg-dark" >
    <div class="row row-cols-3" >
        <div class="col" >
            <h2  class="fs-2">MCS Portal</h2>
            <ul>
                <li>
                    <a href="#">About us</a>
                </li>
                <li>
                    <a href="#">Contact us</a>
                </li>
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
                <li>
                    <a href="#">Terms of use</a>
                </li>
            </ul>

        </div>
        <div class="col" ></div>
        <div class="col" >
            <p>Developed by Glusea </p>
        </div>
    </div>
</footer>