{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Church Profile {% endblock %}


{% block content %}
   <div class="dashboard-index" >
        <div class="dashboard-sidebar" >
          {% include 'dashboard/__nav.html' %}
        </div>
            <div class="main-content  " >
              
                
                <div class=" card-header" >  <h4 class=" text-dark" >Welcome to {{ministry.name}} Church Profile </h4> </div> <hr/>
                <div class="container text-center">
                    <div class="row mt-5  "  >
                      <div class="col">
                        <div class="card mem-height "  >
                            <h5 class="card-header">All Members</h5>
                            <div class="card-body">
                              <p class="card-text">Access All members of the church.</p>
                              <p> <a href="{% url 'ministry:members' %}" class="btn btn-primary ">Go here</a> </p>
                              <p class="card-footer small-font " > Total Members: <strong>{{all_members}}</strong> 
                                 Male: <strong>{{total_male}} </strong>
                                 Female: <strong>{{total_female}}</strong>
                                 </p>
                            
                            </div>
                          </div>
                      </div>
                      <div class="col">
                        <div class="card mem-height">
                            <h5 class="card-header">Active Members</h5>
                            <div class="card-body">
                              <p class="card-text">Access All active members of the church.</p>
                               <p> <a href="{% url 'ministry:active_members' %}" class="btn btn-primary">Go here</a> </p>
                               <p class="card-footer small-font " > Total Members: <strong>{{total_active}}</strong> 
                                Male: <strong>{{total_active_male}} </strong>
                                Female: <strong>{{total_active_female}}</strong>
                                </p>
                            </div>
                          </div>
                      </div>
                      <div class="col">
                        <div class="card mem-height">
                            <h5 class="card-header"> Working Church Members </h5>
                            <div class="card-body">
                              <p class="card-text">Access All working members of the church.</p>
                               <p> <a href="{% url 'ministry:working_members' %}" class="btn btn-primary">Go here</a> </p>
                               <p class="card-footer small-font" > Total Members: <strong>{{total_working_members}}</strong>
                                Male: <strong>{{total_working_male}} </strong>
                                Female: <strong>{{total_working_female}}</strong>
                                </p>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                <div class="container text-center ">
                    <div class="row mt-5 " >
                      <div class="col">
                        <div class="card mem-height">
                            <h5 class="card-header">Schooling  Members  </h5>
                            <div class="card-body">
                              <p class="card-text">Access Student members of the church.</p>
                              <p><a href="{% url 'ministry:student_members' %}" class="btn btn-primary">Go here</a> </p>
                              <p class="card-footer small-font" > Total Members: <strong>{{total_students}}</strong>
                                Male: <strong>{{total_male_students}} </strong>
                                Female: <strong>{{total_female_students}}</strong>
                                </p>
                            </div>
                          </div>
                      </div>
                      <div class="col">
                        <div class="card mem-height">
                            <h5 class="card-header"> New Convert</h5>
                            <div class="card-body">
                              <p class="card-text">Access All New members of the church.</p>
                              <p><a href="{% url 'ministry:new_converts' %}" class="btn btn-primary">Go here</a></p>
                              <p class="card-footer small-font" > Total Members: <strong>{{total_converts}}</strong>
                                Male: <strong>{{total_male_converts}} </strong>
                                Female: <strong>{{total_female_converts}}</strong>
                                </p>
                            </div>
                          </div>
                      </div>
                      <div class="col">
                        <div class="card mem-height">
                            <h5 class="card-header"> Members by Gender </h5>
                            <div class="card-body">
                              <p class="card-text">Access Male   members of the church.</p>
                              <p> <a href="{% url 'ministry:male_members' %}" class="btn btn-primary">Go here</a> </p>
                              <p class="card-footer" > Total Male: {{total_male}} </p>
                            </div>
                          </div>
                      </div>
                    </div>
                  
              </div>
              {% include 'dashboard/__footer.html' %}
         </div>  
   </div>
{% endblock %}