
    <div class="side-nav" >
        <ul>
            <li>
                <a href="{% url 'dashboard:index' %}">Dashboard</a>
            </li>
            <li>
                <a href="{% url 'ministry:church_profile'  %}">Church Profile</a>
            </li>
            <li>
                <a href="{% url 'ministry:departments' %}">Departments</a>
            </li>
            <li>
                <a href="{% url 'ministry:cells' %}">Cells</a>
            </li>
            <li>
                <a href="#">Payments</a>
            </li>
            <li>
                <a href="#">Announcements</a>
            </li>
            <li>
                <a href="#">Activities</a>
            </li>
        </ul>
        <div class="soul" >
            <ul>
                <li>
                    <a href="#">Add Soul</a>
                </li>
            </ul>
        </div>

    </div>
        
