{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}


{% block content %}
   <div class="dashboard-index" >
    <div class="dashboard-sidebar" >
      {% include 'dashboard/__nav.html' %}
    </div>
    <div class="main-content" > 
        <div class="container text-center ">
            <div class="row">
              <div class="col">
                <!--Card fo displaying church information-->
                {% for ministry in ministries %}
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{ ministry.name }}</h5>
                      <p class="card-text"> Located at  {{ministry.location}} </p>
                      <p>  <a href="{% url 'ministry:church_profile'  %}" class=" link-text ">Check Ministry Profile</a> </p>
                      <p class="card-footer small-font" >  {{ministry.location}} </p>
                    </div>
                  </div>
                  {% endfor %}
              </div>
              <div class="col">
                <!--display for the various Departments in the church-->
                
                <div class="card">
                   
                    <div class="card-body">
                      <h5 class="card-title">Departments in {{ ministry.name }}</h5>
                      <p class="card-text"> Check the various departments  </p>
                      <p><a href="{% url 'ministry:departments' %}" class="link-text"> Departments list </a></p>
                      <p class="card-footer small-font" > Total Departments: {{total_departments}}  </p>
                    </div>
                  </div>
                  
              </div>
              <div class="col">
                <!--List of cells in the ministry-->
                <div class="card" >
                   
                    <div class="card-body">
                      <h5 class="card-title">Cells in {{ministry.name}}  </h5>
                      <p class="card-text"> Check the various cells  </p>
                      <p><a href="{%  url 'ministry:cells' %}" class="link-text"> Cells list </a> </p>
                      <p class="card-footer small-font" > Total Cells: {{total_cells}}  </p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="container text-center  text-white p-3">
            <div class="row">
              <div class="col">
                <div class="card" >
                    <div class="card-body">
                      <h5 class="card-title">Payments</h5>
                      <p class="card-text"> Check out the lates payments received </p>
                      <a href="#" class="link-text">Payments</a>
                    </div>
                  </div>
              </div>
              <div class="col">
                <div class="card" >
                    <div class="card-body">
                      <h5 class="card-title"> Members Page </h5>
                      <p class="card-text"> Get the list of all Members in the church </p>
                      <a href="{% url 'dashboard:members' %}" class="link-text">Go here</a>
                    </div>
                  </div>
              </div>
              <div class="col">
                <div class="card" >
                    <div class="card-body">
                      <h5 class="card-title">Announcements</h5>
                      <p class="card-text"> Latest events and Programs coming up </p>
                      <a href="#" class="link-text">Read More</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          {% include 'dashboard/__footer.html' %}
    </div>
      
   </div>


{% endblock %}




